*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  width: 100%;
  position: fixed;
  text-align: center;
}

.nav div.logo {
  float: left;
  display: flex;
  align-items: center;
}

.logo a img{
  height: 3.8rem;
}

.logo a:nth-child(2){
  text-decoration: none;
  line-height: 65px;
    font-size: 1.7rem;
    font-weight: bold;
    padding-left: 20px;
    font-family: 'Permanent Marker', cursive;
    color: white;
}

.nav div.main_list {
  float: right;
  display: flex;
  align-items: center;

  
    .btn{
      border: 1px solid white;
      width: 150px;
      padding: 10px 20px;
      text-decoration: none;
      font-size: 1.2rem;    
      font-weight: 500;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: red;
      background-color: white;
      border-radius: 50px;
      transition: 0.4s;

      &:hover{
        color:#fbbe36;
        border: 1px solid #fbbe36;
      }

    }
  
}

.nav div.main_list ul {
  width: 100%;
  
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  
  padding: 0;
  padding-left: 3rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
  line-height: 65px;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav div.main_list ul li a:hover {
  color: #fbbe36;
}



.navTrigger {
  display: none;
}

.nav {
  padding-top: 15px;
  transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
      margin: 0;
  }
}

@media screen and (max-width:768px) {
  .navTrigger {
      display: block;
  }
  
  .nav div.main_list {
      width: 100%;
      height: 0;
      overflow: hidden;
  }
  .nav div.show_list {
      height: auto;
      display: none;
  }

  .nav div.main_list .btn{
    flex-direction: column;
    align-items: center;
    
  }
  .nav div.main_list ul {
      flex-direction: column;
      width: 100%;
      height: 100vh;
      right: 0;
      left: 0;
      bottom: 0;
      background-color: #111;
      text-align: center;
      /*same background color of navbar*/
      background-position: center top;
  }
  .nav div.main_list ul li {
      width: 100%;
      text-align: center;
  }
  .nav div.main_list ul li a {
      text-align: center;
      width: 100%;
      font-size: 1.6rem;
  }
  .nav div.media_button {
      display: block;
  }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
      -webkit-transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(9px) rotate(0deg);
  }
  100% {
      transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
      -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
      -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
      -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
      transform: translateY(0px) rotate(0deg);
  }
  50% {
      transform: translateY(-9px) rotate(0deg);
  }
  100% {
      transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  background-color: #111;
}


.thaifood{
  padding-top: 105px;
  background-color: #89b758;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;

  h1{
    font-size: 57px;
    font-weight: 900;
    margin-bottom: 30px;
  }

  p{
    margin-bottom: 60px;

  }

  .orderbtn{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
    background-color: white;
    padding: 20px 45px;
    border-radius: 50px;

    i{
      padding-right: 15px;
    }
  }

  .img{
    padding-top: 3rem;
    align-items: center;
    text-align: center;
    align-content: center;
    padding-bottom: 50px;
    img{
      max-width: 748px;
      max-height: 690px;
      margin: auto;
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px){
  .img{
    img{
      width: 500px;
      height: 390px;
      margin: auto;
    }
  }
}

@media (min-width: 575px) and (max-width: 767px){
  .img{
    img{
      width: 500px;
      height: 390px;
      margin: auto;
    }
  }
}


@media  (max-width: 575.98px){
  .img{
    img{
      width: 300px;
      height: 290px;
      margin: auto;
    }
  }
}

.newcomer{

  margin-top: 50px;
  .txt{
    h3{
      font-family: 'Permanent Marker', cursive;
      font-size: 1.3rem;
      line-height: 1.4;
      color: #89b758;
      font-weight: 900;
    }
    h1{
      color: #29361a;
      font-family: 'Barlow', sans-serif;
      font-size: 3.8rem;
      line-height: 1.1;
      font-weight: 900;
  }

  padding-bottom: 60px;
    }

    .card{
      cursor: pointer;
      transition: all .3s;
      margin-bottom: 6rem;
      background-color: transparent;
      border: none;
  
      .card1{
      
      padding: 10px;
      border-radius: 9px;
      transition: all 0.3s;
      cursor: pointer;
      background-image: url(../images/014.jpg);
      background-size: cover;
      object-fit: cover;
      background-repeat: no-repeat;
      
  
      .card-box{
        margin-top: 10rem;
      background: #ffffff;
      z-index: 1;
      box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.03);
      border-radius: 6px;

      h4{
        margin: 0;
        font-family: 'Barlow', sans-serif;
        font-size: 1.6rem;
        font-weight: 700;
        padding-bottom: 1rem;
      }

      p{
        color: #808080;
        transition: all 0.3s;
        font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.8;
    font-weight: 500;

      }

      h5{
        color: #0e0e0e;
    transition: all 0.3s;
    font-family: 'Barlow', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    
    padding-bottom: 1.5rem;
      }

      a{
        width: 60px;
    height: 60px;
    background: #89b758;
    font-size: 1.2rem;
    margin: auto;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    i{
    color: #ffffff !important;

    }
      }
      }
      }
    }


  }
 
  .bestfood{
    padding-top: 90px;
    padding-bottom: 105px;
    background-color: #fafafa;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;

    .cart-img{
      padding: 0 2rem;
      width: auto;
      background-color: transparent;
    border: none;
    }

    .figure{
      height: 100%;
      align-self: center;
      width: 228px;
      img{
        height: 100%;
    object-fit: cover;
    width: 100%;
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    display: block;
    border-style: none;
      }
    }

    .center-cart{
      background: white;
    padding: 3rem;
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.08);
    width: 490px;
    border-radius: 6px;

    h2{
      color: #89b758;
      font-family: 'Permanent Marker', cursive;
      font-size: 1.6rem;
      line-height: 1.4;
      font-weight: 900;
    }

    h1{
      color: #29361a;
      font-family: 'Barlow', sans-serif;
    font-size: 3.8rem;
    line-height: 1.1;
    font-weight: 900;
    font-style: normal;
    padding-bottom: 3rem;

    }

    p{
      color: #808080;
      font-family: 'Roboto', sans-serif;
      font-size: 1rem;
      line-height: 1.8;
      font-style: normal;
      padding-bottom: 3rem;
      font-weight: 300;

    }

    .sec3-btn{
      margin-bottom: -4rem;
      color: #808080;
      margin-left: -0.25rem;
      margin-right: -0.25rem;
      font-size: 0;

      a{
        border-radius: 100px;
        background-color: #89b758 ;
    border-color: #89b758 ;
    color: #ffffff;
    padding: 1rem 2.6rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.8;
    letter-spacing: 1px;
    margin: 0.4rem 0.8rem ;
    transition: all .3s ease-in-out;
    font-weight: bold;
    border-width: 1px;
    font-style: normal;
    text-decoration: none;
i{
  margin-right: 0.8rem;
    margin-bottom: 0.1rem;
    font-size: 1.2rem;

}
    &:hover{
      background: #29361a ;
    border-color: #29361a ;
    }
      }

    }
    }
  }

.our-menu{
  padding-top: 45px;
    padding-bottom: 45px;
  h4{
    color: #89b758;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 500;
    text-align: center;
  }
  h2{
    font-family: 'Barlow', sans-serif;
    font-size: 3.8rem;
    line-height: 1.1;
    font-weight: 900;
    text-align: center;
    color: #000000;
  }

  .menu-group{
    .menu-item{
      padding: 0 15px;
    display: flex;
    margin-bottom: 1.5rem;


    .wrapper{
      width: 411px;
      h5{
        background: #89b758;
        width: fit-content;
        padding: 3px 16px 0px 16px;
        border-radius: 10px;
        margin-bottom: 12px;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        line-height: 1.8;
        font-weight: 700;
        color: #ffffff;
      }

      h3{
        color: #808080;
        font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.8;
    font-weight: 300;

      }

      .menu-box{
        display: flex;
    align-items: baseline;
    margin-bottom: 0.5rem;
    justify-content: space-between;

    p{
      padding: 0;
      margin: 0;
      width: fit-content;
      color: #000000;
      font-family: 'Barlow', sans-serif;
      font-size: 1.6rem;
      font-weight: 700;
    }

    .line{
      display: flex;
    flex: 1 1 auto;
    background-image: radial-gradient(circle closest-side, #9a9a9a 99%, rgba(255, 255, 255, 0) 1%);
    background-size: 12px 2px;
    background-position: center;
    margin: 0.2em 0.5em;
    background-repeat: repeat;
    height: 2px;
    }

    span{
      color: #89b758;
      font-family: 'Barlow', sans-serif;
      font-size: 1.6rem;
      font-weight: 700;

    }
      }
    }

    .menu-img{
      img{

        border-radius: 6px;
        object-fit: cover;
        margin-right: 2rem;
        width: 110px;
    height: 110px;
      }
    }
    }
  }
}

.video{

  .modalWindow{
    display: none;
    position: fixed;
    z-index: 5000;
    left: 0;
    top: 0;
    background-color: rgba(61, 61, 61, 0.65);
    width: 100%;
    height: 100%;

    .modalWindow-container{
      display: table-cell;
    vertical-align: middle;

    .close {
      float: right;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: .5;
  }
    a{
      position: absolute;
      transition: color 0.6s;
    right: 4vw;
    top: 4vh;
    color: #ffffff;
    z-index: 5000000;
    font-size: 37px;
    background: #000;
    padding: 20px;
    border-radius: 50%;
    text-decoration: none;

    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0,0,0,0);
      white-space: nowrap;
      border: 0;
  }
    }
    .modalWindow-video{
      height: calc(44.9943757vw);
    width: 80vw;
    margin: 0 auto;


    }
    }
  }

  .video-box{
    background-image: url(../images/background2.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .play-btn{
      text-align: center;
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;

      .play-icon{
        border-radius: 50%;
    margin: auto;
    background: #89b758;
    height: 90px;
    width: 90px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    animation: shadow 1s infinite ease-in-out;

    &::before{
      content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 80px;
  height: 80px;
  background: #ffffff;
  border-radius: 50%;
  animation: pulse-border 1500ms ease-out infinite;
    }

    &::after{
      
        content: "";
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 80px;
        height: 80px;
        background: #ffffff;
        border-radius: 50%;
        transition: all 200ms;
      
    }

    @keyframes pulse-border {
      0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
      }
      100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
      }
    }
    
    
    i{
      font-size: 2rem;
    cursor: pointer;
    position: relative;
    height: auto;
    display: inline-block;
    padding-left: 6px;
    opacity: 1;
    transition: all 0.25s;
    color: #ffffff ;

    
    }
      }
    }
  }
  .video-title{
    h3{

      
    color: #89b758;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 500;
    text-align: center;
      width: fit-content;
    display: inline-block;
    position: relative;
    }

    h1{
      color: #0e0e0e;
      font-family: 'Barlow', sans-serif;
      font-size: 3.8rem;
      line-height: 1.1;
      font-style: normal;
      font-weight: 900;
    }
  }
}

.footer1{
  margin-top: 100px;
  padding-top: 60px;
    padding-bottom: 0px;
    background-color: #f3f7ee;

    .item-content{

      width: 360px;
      .feedimg{
        width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 6px;
    margin: 0 2px;
    vertical-align: middle;
    border-style: none;
      }
      h3{
        color: #29361a;
        font-family: 'Barlow', sans-serif;
        font-size: 1.6rem;
text-align: center;
        font-style: normal;
        line-height: 1.3;
        font-weight: 700;
        padding-bottom: 0.5rem;

      }
      p{
        color: #808080;
        font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.8;
    font-weight: 300;
    
      }
      .logo-wrap
      {
       align-items: center;
       text-align: center;
      .logo{
        max-width: 80px;
        width: 100%;
        margin: auto;
        margin-bottom: 1rem;
        vertical-align: middle;
      border-style: none;
      align-items: center;
      text-align: center;
      }
      }
    }
    

    .icon-wrap{
      color: #808080;
      display: flex;
    margin-bottom: 1rem;

    i{
      margin-right: 14px;
    margin-top: 4px;
    font-size: 1.2rem;
    color: #89b758;
    font-family: 'Moririse2' ;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    }
    h6{
      a{
        color: #89b758;
        transition: 0.5s;
        &:hover{
          color: #a5de69;
        }
      }
      color: #808080;
      font-family: 'Roboto', sans-serif;
      font-size: 1rem;
      line-height: 1.8;
      font-weight: 400;
    }
    }
}

.footer2{
  
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #89b758;

  .social-row {
    width: 100%;
    justify-content: flex-end;
    margin: 0;

    .cid-rKZvjkndmm .row .social-list {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      text-align: right;

      .soc-item {
        margin: 0 0.3rem;
        background: #29361a;
    width: 45px;
    cursor: pointer;
    margin: auto;
    height: 45px;
    transition: all 0.3s;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

    a {
      margin: 0;
      opacity: 1;
      height: 26px;
      padding-right: 2px;
      transition: .2s linear;
      color: #e7272d;

      text-decoration: none;
      font-style: normal;
      font-weight: 400;
      cursor: pointer;

      .mbr-iconfont-social {
        font-size: 1.3rem;
        color: #ffffff;}
  }
    }
  }
}

  .foot-menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 1rem;
    li{
      padding-right: 2rem;
    transition: all 0.3s;
    cursor: pointer;

    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.8;
    font-weight: 300;
    }
  
  }

    .row-copirayt {
      word-break: break-word;
      width: 100%;

      p{
        color: #ffffff;
        width: 100%;   
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        line-height: 1.8;
        text-align: left;
    }
    
      }
    
}



   



  .justify-content-center{
    justify-content: center;
  }

.space-between{
  justify-content: space-between;
}

.center{
  text-align: center;
}